.data {
  display: flex;
  justify-content: space-around;
}
.weather-card {
  border: 2px solid black;
  max-width: 200px;
  max-height: 200px;
  text-align: center;
  box-shadow: 0 6px 4px -4px black;
}
* {
  background-color: rgb(125, 249, 255);
}
.heading {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 10%;
}
.data {
  flex-wrap: wrap;
  /* overflow-wrap: break-word; */
}
.heading,
.inner-data {
  background-color: inherit;
}
.weather-card {
  background-color: white;
  border-radius: 1rem;
  width: 200px;
  height: 100px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn {
  width: 70px;
  height: 30px;
  background-color: green;
  color: white;
  text-align: center;
  border-radius: 0.5rem;
  margin-left: 1rem;
}
.form {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.input {
  background-color: white;
}
.load {
  display: flex;
  justify-content: center;
}